apiVersion: v1
kind: Service
metadata:
  name: {{ include "netra.fullname" . }}
  labels:
    {{- include "netra.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    {{- include "vortex.selectorLabels" . | nindent 4 }}
    app: netra-web
